.header {
  padding: 25px 0;
  box-shadow: 0 2px 28px 0 rgba(0 0 0 /6%);
  height: 100px;
  display: flex;
  align-items: center;
  background-color: white;
}

.header_flex {
  display: flex;
  width: 1000px;
  justify-content: space-between;
}

.container {
  flex-direction: row;
  margin: auto;
}

.header_left {
  display: flex;
  justify-content: space-between;
  width: 420px;
  align-items: center;
}

.header_logo_box {
  margin: 4px 20px 0 0;
}

.header_logo {
  width: 180px;
}

.header_searchBar {
  border: 0.5px solid lightgray;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.header_searchBar input {
  border: 0;
  width: 200px;
  height: 30px;
  outline: none;
  margin-left: 5px;
}

.header_searchIcon {
  color: lightgray;
  margin-right: 5px;
}

.header_ranking {
  display: flex;
}

.header_rankingIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 13px;
}

.header_ranking_icon {
  width: 28px;
  height: 28px;
  color: rgb(218, 205, 27);
}


.header_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 355px;
}

.header_ranking_box {
  display: flex;
  background-color: rgb(234, 234, 234);
  border-radius: 7px;
  width: 210px;
  padding: 7px;
  text-align: center;
  align-items: center;
}

.header_rankingNumber {
  font-weight: bold;
  background-color: rgb(148, 80, 255);
  width: 30px;
  height: 30px;
  border-radius: 30px;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
}

.header_rankingNickname {
  margin-left: 7px;
  display: flex;
  justify-content: center;
}

.header_bellIcon {
  width: 25px;
  height: 25px;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.header_barIcon {
  width: 30px;
  height: 30px;
  align-items: center;
  display: flex;
}

.header_alarm_arrow {
  display: flex;
  border: 1px solid;
  border-color: rgb(201, 201, 201);
  margin: -3px 0 0 268px;
  width: 0px;
  height: 0px;
  border-bottom: 15px solid rgb(245, 239, 255);
  border-top: 0px solid transparent;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

.header_alarm_box {
  margin: -2px 0 0 0;
  display: flex;
  z-index: 1;
  position: relative;
  /*border : 1px solid;
  border-color: rgb(201, 201, 201); */
  border-radius: 20px;
  width: 350px;
  height: 300px;
  background-color: rgb(254, 253, 255);
  box-shadow: 0 4px 15px -8px rgb(83, 83, 83);
}

.header_alarm_bar {
  width: 1000px;
  display: flex;
  justify-content: right;
}

.header_sideMenu {
  background-color: white;
  border: 0.1px solid lightgray;
  width: 300px;
  height: 50vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 850ms;
}

.header_sideMenu.active {
  right: 0;
  transition: 350ms;
}

.header_sideMenu_items {
  width: 80%;
}

.header_sideMenu_toggle {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.header_closeIcon {
  width: 30px;
  height: 30px;
}

.header_sideMenu_text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.header_sideMenu_text a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  width: 80%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header_sideMenu_text a:hover {
  background-color: rgb(148, 80, 255);
  color: white;
}