/* 스크롤바 설정*/
.header_alarm_inner::-webkit-scrollbar{
  width: 6px;
}

/* 스크롤바 막대 설정*/
.header_alarm_inner::-webkit-scrollbar-thumb{
  height: 17%;
  background-color: rgba(188, 165, 230, 0.5);
  /* 스크롤바 둥글게 설정    */
  border-radius: 10px;    
}

/* 스크롤바 뒷 배경 설정*/
.header_alarm_inner::-webkit-scrollbar-track{
  background-color: rgba(0,0,0,0);
}

.header {
  padding: 25px 0;
  box-shadow: 0 2px 28px 0 rgba(0 0 0 /6%);
  height: 100px;
  display: flex;
  align-items: center;
  background-color: white;
  width : 100%;
/*   position: fixed;
  top: 0;
  left: 0;
  right: 0; */
}

.header_flex {
  display: flex;
  width: 1000px;
  justify-content: space-between;
}

.container {
  flex-direction: row;
  margin: auto;
}

.header_left {
  display: flex;
  justify-content: space-between;
  width: 420px;
  align-items: center;
}

.header_logo_box {
  margin: 4px 20px 0 0;
}

.header_logo {
  width: 180px;
}

.header_searchBar {
  border: 0.5px solid lightgray;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.header_searchBar input {
  border: 0;
  width: 200px;
  height: 30px;
  outline: none;
  margin-left: 5px;
}

.header_searchIcon {
  color: lightgray;
  margin-right: 5px;
}

.header_ranking {
  display: flex;
}

.header_rankingIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 13px;
}

.header_ranking_icon {
  width: 28px;
  height: 28px;
  color: rgb(218, 205, 27);
}

.header_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 340px;
}

.header_ranking_box {
  display: flex;
  background-color: rgb(234, 234, 234);
  border-radius: 7px;
  width: 180px;
  padding: 2.5px;
  text-align: center;
  height: 38px;
  overflow: hidden;
  flex-direction: column;
}

.header_ranking_textbox {
  display: flex;
  height: 35px;
  padding: 0 20px 0 5px;
  font-weight: 700;
  line-height: 35px;
  align-items: center;
}

.header_rankingNumber {
  font-weight: bold;
  background-color: rgb(148, 80, 255);
  width: 30px;
  height: 30px;
  border-radius: 30px;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
}

.header_rankingNickname {
  margin-left: 7px;
  display: flex;
  justify-content: center;
}

.header_bell{
  border-radius: 30px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgb(244, 233, 255);
}

.header_bellIcon {
  width: 20px;
  height: 20px;
  align-items: center;
  display: flex;
  color: rgb(181, 136, 255);
}

.header_barIcon {
  width: 33px;
  height: 32px;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.header_alarm_box {
  margin: 2px 53px 0 0;
  z-index: 1;
  position: relative;
  border : 1px solid;
  border-color: rgb(63, 63, 63);
  border-radius: 15px;
  width: 380px;
  height: 220px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 15px -8px rgb(83, 83, 83);
  overflow : hidden;
}

.header_alarm_bar {
  width: 100%;
  display: flex;
  justify-content: right;
}

.header_alarm_header{
  display: flex;
  justify-content: space-between;
  background-color: rgb(240, 240, 240);
  height: 30px;
  font-size: 14px;
}

.header_alarm_header_left{
  display: flex;
  margin : 3px 0 0 10px; 
}

.header_alarm_header_right{
  display: flex;
  margin : 3px 3px 0 0;
  color: rgb(104, 104, 104);
}

.header_alarm_header_delete{
  margin: 0 7px 0 7px;
}

.header_alarm_inner{
  margin : 3px 10px;
  overflow-y: scroll;
  height : 180px;
}

.header_alarm_inner_firstline{
  display: flex;
}

.header_alarm_inner_title{
  font-weight: bold;
  margin-right: 10px;
}

.header_alarm_inner_my{
  margin-right: 10px;
  color :rgb(119, 119, 119);
}

.header_alarm_inner_myitem{
  width : 230px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.header_alarm_inner_secondline{
  display: flex;
  color :rgb(119, 119, 119);
  width : 350px;
  white-space:nowrap;
  margin-bottom: 5px;
}

.header_alarm_inner_applynickname{
  color :rgb(131, 87, 201);
  width : auto;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.header_alarm_inner_applyitem{
  color :rgb(131, 87, 201);
  width : auto;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.header_alarm_inner_date{
  display: flex;
  justify-content: right;
  color :rgb(105, 105, 105);
  font-size: 13px;
  align-items: flex-end;
  width : 79px;
  white-space:nowrap;
}

.header_alarm_isread{
  color :rgb(180, 180, 180);
}

.header_alarm_inner_my_isread{
  margin-right: 10px;
  color :rgb(180, 180, 180);
}

.header_alarm_inner_applynickname_isread{
  color :rgb(180, 180, 180);
  width : auto;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.header_alarm_inner_applyitem_isread{
  color :rgb(180, 180, 180);
  width : auto;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.header_alarm_inner_date_isread{
  display: flex;
  justify-content: right;
  color :rgb(180, 180, 180);
  font-size: 13px;
  align-items: flex-end;
  width : 79px;
  white-space:nowrap;
}

.header_sideMenu {
  z-index: 1;
  background-color: white;
  border: 0.1px solid lightgray;
  width: 300px;
  height: 50vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 850ms;
}

.header_sideMenu.active {
  right: 0;
  transition: 350ms;
}

.header_sideMenu_items {
  width: 80%;
}

.header_sideMenu_toggle {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.header_closeIcon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.header_sideMenu_text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.header_sideMenu_text a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  width: 80%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header_sideMenu_text a:hover {
  background-color: rgb(148, 80, 255);
  color: white;
}
