.signupModal_background {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.signupModal_container {
  border-radius: 7px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 700px;
}
.signupModal_logoBox {
  display: flex;
  justify-content: space-between;
}
.signupModal_container .signupModal_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signupModal_logo img {
  height: 25px;
}

.signupModal_container .signupModal_title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.signupModal_closeBtn {
  display: flex;
  justify-content: flex-end;
}

.signupModal_closeBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
  color: rgb(82, 82, 82);
}

.signupModal_container .signupModal_body {
  flex: 50%;
  font-size: 1.7rem;
  text-align: center;
  margin-top: 10px;
}

.signupModal_container .signupModal_body .signupModal_emailinput {
  width: 250px;
  display: flex;
  align-items: center;
  margin: auto;
  flex-direction: column;
}

.signupModal_container .signupModal_body .signupModal_emailinput input {
  width: 250px;
  height: 40px;
  padding: 3px;
  padding-left: 10px;
  margin-top: 20px;
  border: 0.5px solid rgb(234, 234, 234);
  background-color: rgb(234, 234, 234);
  border-radius: 7px;
  color: black;
  outline: none;
}

.signupModal_error {
  font-size: 15px;
  color: red;
}

.signupModal_container .signupModal_body .signupModal_pwdinput {
  width: 250px;
  display: flex;
  align-items: center;
  margin: auto;
}

.signupModal_container .signupModal_body .signupModal_pwdinput input {
  width: 250px;
  height: 40px;
  padding: 3px;
  padding-left: 10px;
  margin-top: 20px;
  border: 0.5px solid rgb(234, 234, 234);
  background-color: rgb(234, 234, 234);
  border-radius: 7px 0px 0px 7px;
  color: black;
  outline: none;
}

.signupModal_pwdIconCover {
  background-color: rgb(234, 234, 234);
  height: 40px;
  margin-top: 20px;
  border-radius: 0px 7px 7px 0px;
  border: 1px solid rgb(234, 234, 234);
}

.signupModal_pwdIcon {
  width: 20px;
  height: 25px;
  margin-right: 5px;
  color: rgb(113, 113, 113);
}

.signupModal_signupBtn {
  border: none;
  background-color: white;
  color: rgb(79, 79, 79);
  font-size: 13px;
  font-family: "EliceDigitalBaeum";
  cursor: pointer;
}

.signupModal_container .signupModal_btn {
  flex: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupModal_container .signupModal_btn button {
  width: 250px;
  height: 45px;
  border: none;
  background-color: rgb(148, 80, 255);
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

.signupModal_container .signupModal_disabled {
  flex: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupModal_container .signupModal_disabled button {
  width: 250px;
  height: 45px;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: not-allowed;
  background-color: rgb(166, 166, 166);
}

.signupModal_selectbox {
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin: auto;
}
